body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1%;
    text-align: center;
}

.animatie {
    animation: inglijden .8s ease 0s 1 normal none;
}

@keyframes inglijden {

    0% {
        transform: translateY(-200%) scale(.1);
        color: black;
    }

    50% {}

    100% {
        transform: translate(0) scale(1);
        filter: blur(0);
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(173, 173, 173); 
}

nav a.active {
    color: gold;
}

section {
    padding: 1%; 
}

.hobbits img{
    margin: 0 auto;
    width: 40em;
    display: block;
}

.picture2 iframe{
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 281px;
    margin-bottom: 5em;
}

.picture3 img{
    width: 20em;
    height: auto;
    float: right;
}

.picture4 img{
    width: 45em;
    height: auto;
    margin: 0;
    border: 5px solid rgb(26, 26, 26);
    margin-bottom: 5em;
}

footer {
    background-color: #333;
    color: white;
    padding: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

footer ul {
    list-style: none;
}

footer li{
    display:flex; 
    justify-content: center;
    
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
}

footer p{
    padding: 1%
}

.wrapper {
    margin: auto;
}

.wopper {
    margin: auto;
}

div img{
    max-width: 100%;
    border: 3px solid #fff ;
    border-radius: 10px;
    margin-right: 2%;
}

.picturetext{
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100;
}

p{
    font-size: larger;
    margin-left: 2em;
}

h1, h2{
    margin-left: 1.6em;
}

.onderkant{
    font-size: medium;
    margin-left: 0em;
    margin-bottom: 5em;
}

.textbox{
    background-color: rgb(94, 94, 94);
    color: #fff;
    margin-bottom: 5em;
    border-radius: 10px;
}

.textboxtwee{
    background-color: grey;
    color: #fff;
    margin-bottom: 1em;
    border-radius: 5px;
    margin-top: 1em;
}

.textboxtwee h2{
 color: rgb(255, 255, 255);
}


.hobbits h2 {
 text-align: center;
 font-size: 2em;
}

.mantower {
margin-bottom: 5em;
}

.titelpagina3{
    margin-bottom: -2em;
    margin-left: 0.5em;
}

.picturewikipedia{
    margin-left: 2em;
}

.textslide2{
    background-color: grey;
    color: #fff;
    margin-bottom: 1em;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em; 
}

.textslide21{
    background-color: rgb(94, 94, 94);
    color: #fff;
    margin-bottom: 5em;
    border-radius: 10px;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}




